@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";

/* ---------- Floating ---------- */

@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.float-slow {
  animation: floating 6s ease-in-out infinite;
}

.float-medium {
  animation: floating 5s ease-in-out infinite;
}

.float-fast {
  animation: floating 4s ease-in-out infinite;
}

/* ---------- Hero Image ---------- */

@keyframes heroFloat {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) rotate(.8deg);
  }
}

.hero-float {
  animation: heroFloat 5s ease-in-out infinite;
}

/* ---------- Rotating Ring ---------- */

@keyframes rotateRing {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-ring {
  animation: rotateRing 40s linear infinite;
}

/* ---------- Glow Pulse ---------- */

@keyframes glowPulse {
  0%,
  100% {
    opacity: .55;
    box-shadow:
      0 0 15px rgba(255, 196, 97, .15),
      0 0 40px rgba(255, 196, 97, .08);
  }

  50% {
    opacity: 1;
    box-shadow:
      0 0 25px rgba(255, 196, 97, .45),
      0 0 80px rgba(255, 196, 97, .18);
  }
}

.ring-glow {
  animation: glowPulse 4s ease-in-out infinite;
}

/* ---------- Background Glow ---------- */

@keyframes glowMove {
  0%,
  100% {
    transform: scale(1);
    opacity: .55;
  }

  50% {
    transform: scale(1.06);
    opacity: .85;
  }
}

.hero-glow {
  animation: glowMove 7s ease-in-out infinite;
}